@{
        ViewBag.Title = "重設密碼";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>密碼重設郵件已發送</title>
</head>
<body>
    <h2>密碼重設郵件已發送</h2>
    <p>我們已向您註冊時提供的電子郵件地址發送了一封重設密碼的郵件。請檢查您的郵件並按照郵件中的指示重設密碼。</p>
</body>
</html>
