@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 密碼眼睛 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>
        function togglePasswordVisibility() {
            var passwordInput = document.getElementById("fPwd");
            var confirmInput = document.getElementById("confirmPwd");
            var eyeIcon = document.getElementById("eyeIcon");
            var eyeIcon2 = document.getElementById("eyeIcon2");

            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                eyeIcon.classList.remove("fa-eye");
                eyeIcon.classList.add("fa-eye-slash");
            } else {
                passwordInput.type = "password";
                eyeIcon.classList.remove("fa-eye-slash");
                eyeIcon.classList.add("fa-eye");
            }

            if (confirmInput.type === "password") {
                confirmInput.type = "text";
                eyeIcon2.classList.remove("fa-eye");
                eyeIcon2.classList.add("fa-eye-slash");
            } else {
                confirmInput.type = "password";
                eyeIcon2.classList.remove("fa-eye-slash");
                eyeIcon2.classList.add("fa-eye");
            }
        }

    </script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/Template/login-form-01/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/Template/login-form-01/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Template/login-form-01/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="~/Template/login-form-01/css/style.css">

    <title>重設密碼</title>
</head>
<body>


    <div class="d-lg-flex half">
        <img src="/Template/login-form-01/images/retrain_advanced.jpg" class="bg order-1 order-md-2">

        <div class="contents order-2 order-md-1">

            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-7">
                        <h3>重設密碼</h3>
                        <p class="mb-4">請輸入您的新密碼</p>
                        <form action="#" method="post">
                            <div class="form-group first">
                                <label for="password">新密碼</label>
                                <div class="input-group">
                                    <input type="password" id="fPwd" name="fPwd" class="form-control" placeholder="請輸入新密碼" required>
                                    <div class="input-group-append">
                                        <span class="input-group-text" onclick="togglePasswordVisibility()">
                                            <i class="fa fa-eye" id="eyeIcon"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group last mb-3">
                                <label for="confirm-password">確認新密碼</label>
                                <div class="input-group">
                                    <input type="password" id="confirmPwd" name="confirmPwd" class="form-control" placeholder="請再次輸入新密碼" required>
                                    <div class="input-group-append">
                                        <span class="input-group-text" onclick="togglePasswordVisibility()">
                                            <i class="fa fa-eye" id="eyeIcon2"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                                <div>
                                    <button type="submit" class="btn btn-block btn-warning">儲存新密碼</button>
                                </div>
                                @ViewBag.Message
</form>
                    </div>
                </div>
            </div>
        </div>


    </div>



    <script src="/Template/login-form-01/js/jquery-3.3.1.min.js"></script>
    <script src="/Template/login-form-01/js/popper.min.js"></script>
    <script src="/Template/login-form-01/js/bootstrap.min.js"></script>
    <script src="/Template/login-form-01/js/main.js"></script>



</body>
</html>
